<h1>Events</h1>

<div class="area">
  <h2>Life View</h2>
  <fm-life-event-view></fm-life-event-view>
</div>

<div class="area">
  <h2>Historical View</h2>

  @if (!showingHistoricalEvents()) {
    <button
      class="show-historical-events"
      mat-icon-button
      (click)="showHistoricalEvents()"
    >
      <div class="vert-center">
        <mat-icon>history</mat-icon>
        <div>Show historical events</div>
      </div>
    </button>
  }

  @defer (when showingHistoricalEvents()) {
    <fm-historical-event-view></fm-historical-event-view>
  } @loading (after 500ms; minimum 1s) {
    Loading...
  }
</div>
