<h1>Events</h1>

@if (loading()) {
  Loading events...
} @else {
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="table">
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let row">
        {{ row.description }}
      </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let row">
        {{ row.created | date: "EEEE - yyyy MMM dd - HH:mm:ss" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell">
        <div class="no-data">
          @if (!fileMoverEvents().length) {
            No events stored
          } @else {
            No events matching the given filter: "{{ input.value }}"
          }
        </div>
      </td>
    </tr>
  </table>
}
