.general-button {
  margin-left: 5em;
  margin-right: 1em;
}

.vert-center {
  display: flex;
  align-items: center;
}

.table {
  width: 80%;
  min-width: 200px;
  max-width: 1200px;
}

.no-data {
  padding: 16px;
}
